video{
width:"320";
height:"240";
}

#top_1 {
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}

#topbar{
    margin:0;
}

.hamburger {
    transform: rotate(90deg);
}

#top_1 ul{
    display:flex;
    list-style: none;
}
#top_1 > div{
    display: flex;
}

button{
    cursor:pointer;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    vertical-align: middle;
    background-color: rgb(86, 123, 149);
    border: 1px solid rgb(50, 104, 145);
    border-radius: 3px;
    font-size: 11px;
    color: rgb(255, 255, 255);
    font-size: 11px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.05em;
    display:inline-block;
    margin-right:7px;
}


#top_1 ul li {
    margin-right:1em;
}

a:link, a:visited, a:hover{
    text-decoration: none;
    color:black
}