img{
    width:100%;
}
video{
width: 20em;
height:"240";
}

#top_1, #top_2 {
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: smaller;   
}

#top_2 h1{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#topbar{
    margin:0;
    border-bottom: double;
}

.hamburger {
    transform: rotate(90deg);
    font-weight:bold;
}

#top_1 ul{
    display:flex;
    list-style: none;
}

#top_1 ul li {
    margin-right:1em;
}

#top_3 ul{
    display:flex;
    list-style: none;
    font-size: small;
}

#border-left{
    border-left: solid gainsboro;
}

#top_3 ul li{
margin-right: 1em;
}

#top_3 {
    border-top: solid gainsboro;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
}

#weather{
    display:flex;
}

#weather p{
    margin-right: 1em;
}

#top_2 ul{
    list-style: none;
}

#top_1 > div{
    display: flex;
}

button{
    cursor:pointer;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    vertical-align: middle;
    background-color: rgb(86, 123, 149);
    border: 1px solid rgb(50, 104, 145);
    border-radius: 3px;
    font-size: 11px;
    color: rgb(255, 255, 255);
    font-size: 11px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.05em;
    display:inline-block;
    margin-right:7px;
}

a:link, a:visited, a:hover{
    text-decoration: none;
    color:black
}

#date{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body h1,h2,h3{
    font-family:georgia,'times new roman',times,serif;
}

#principal-grid p{
    font-family: Georgia, 'Times New Roman', Times, serif ;
    color:grey;
}

.grid-news{
    border-bottom: solid black;
}

#principal-grid{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    column-gap: 3em;
}

.grid-news{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40,40,20;
    column-gap: 2em;
}

.grid-news img{
    grid-row-end: span 2;
    align-self:center;
}

.img-right{
    display: flex;
}

.img-right, .alexander{
    grid-row-end: span 2;
    align-self:center;
}

.img-right img{
    width:fit-content;
}

#grid6{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    justify-content: center;
}

#grid6 img{
    width: fit-content;
}

#grid6 ul{
    list-style: none;
}

#grid6 ul li{
    margin-bottom: 0.5em;
}

#last-part{
    border-top: solid gainsboro;
}

#last-part ul{
    display:flex;
    list-style: none;
    font-size: small;
}

#last-part ul li{
    margin-right: 10px;
}

#subscribe{
    border-left: solid gainsboro;
}

#border-top{
    border-top:solid gainsboro;
}

footer {
    height: 100vh;
    font-size: small;
}

#grid-sidebar{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    column-gap: 2em;
}

#video{
    grid-column-end: span 2;
}